<div class="container">
  <div>
    <p>Bienvenido a PadelConnect !</p>
  </div>
<div class="wrap-input100">
  <input class="" type="text" placeholder="Nombre del partido" value="">
</div>
<div class="wrap-input100">
  <input type="text" placeholder="Telefono" value="">
</div>
<div class="wrap-input100">
  <input type="text" placeholder="Nombre creador" value="">
</div>
<div class="wrap-input100">
  <input type="text" placeholder="Ubicacion" value="">
</div>
<div class="wrap-input100">
  <input type="text" placeholder="match">
</div>









</div>
