<div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
  <h2 class="w3-wide">ABOUT US</h2>
  <p class="w3-opacity"><i>Padel Conecction</i></p>
  <p class="w3-justify">Lo que la familia Padel Connect busca es acercar a los jugadores de padel y formar una comunidad donde cada jugador pueda unirse a un partido sin necersidad de conocer a nadie o crear uno. De esta manera habrá un beneficio mutuo y común
    y creando un buen ambiente entre jugadores. De esta forma alguien que quiera empezar a jugar y no conozca otros jugadores pueda entrar en el mundo, asi como el que lleve mucho tiempo podrá buscar nuevos retos. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
    adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

</div>
